__pycache__
instance/users.db
instance/
users_dump.sql
users_dump_part_0.sql
users_dump_part_1.sql
data/
venv/
node_modules/
node_modules/
data/
.env
frontend/node_modules/
frontend/build/
frontend/dist/
produceiq_raw_export.py
usda_terminal_export.py
frontend/src/index.js
frontend/src/reportWebVitals.js
0001feataddNewDashboardpagepriceforecastsweather.patch
0001featmergearkfoods2addpriceforecastingOpenWeath.patch
0001simplifyremoveRediscachingandweathermodelsfro.patch
0001redesignmodernInterbaseddesignsystemcleanhead.patch
0001fixreplaceplotlyanalyticschartswithRechartscl.patch
0002simplifyremoveweatherAPIRedisoldtemplatesslim.patch
