/* body{
    background: linear-gradient(to right, #141e30, #243b55);

} */
.adminDash-section{
    margin-top: 100px;
}
.Forecast-Results{
    background: #33b1a7;
    color: white;
    height: 300px;
    border-radius: 20px;
}