.scatter-container{
    padding: 10px; /* Reduced padding */
    background-color: #f8f9fa;
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    margin-top: 50px;
}
.scatter-filter{
    display: flex;
    gap: 50px;
}
.scatter-filter label{
    padding: 10px;
   
}
.scatter-filter select{
    padding: 10px 20px 10px 20px;
    border: 1px solid #33b1a7;
    border-radius: 10px;
}
.scatter-button{
    padding: 10px 20px;
  border: 1px solid #33b1a7;
  border-radius: 10px;
  background-color: #ffffff;
  font-weight: bold;
  color: #33b1a7;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

}

.scatter-button:hover{
    background-color: #33b1a7;
    color: #ffffff;
}
.scatter-chart{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 650px;
    background: #33b1a7;
    border-radius: 20px;
}
.scatter-chart-container{
    height: 650px;
    background: #33b1a7;
    margin-top: 20px;
    border-radius: 20px;

}
.slider-switch-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .slider-switch {
    width: 120px;
    height: 40px;
    background-color: #ddd;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  
  .slider-switch-thumb {
    width: 60px;
    height: 36px;
    background-color: #33b1a7;
    color: white;
    text-align: center;
    line-height: 36px;
    border-radius: 18px;
    position: absolute;
    transition: all 0.4s ease;
  }
  
  .slider-switch-thumb.right {
    left: 60px;
  }
  
  .slider-switch-thumb:not(.right) {
    left: 0;
  }
  