.input-group input,
.input-group select {
  margin-right: 100px; 
  padding: 100px;
}

.chart-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: linear-gradient(to right, #141e30, #243b55);
  border-radius: 20px;
  padding: 20px;
  min-width: 1021px;
}

.row-charts {
  display: flex;
  gap: 20px;
}

.row-charts canvas {
  width: 50% !important; 
  height: auto !important;
}

canvas {
  display: block; 
}
.third-chart {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 20px; 
  width: 100%; 
  height: 500px;
  border: 1px solid #33b1a7;
  border-radius: 20px;
}

.second-chart{
  border: 1px solid #33b1a7;
  border-radius: 20px;

}

.third-chart canvas {
  height: 480px !important; 
  width: 60% !important;
  display: block; 
  margin: 0 auto; 

} 
.weather-layout{
  display: flex;
  gap: 100px;
  margin-top: 50px;
}
.weather-inputs{
  display: flex;
  flex-direction: column;
  margin-top: 140px;
}