/* Weather Dashboard Layout */
.weather-dashboard {
  display: flex;
}

/* Sidebar Styling */
.weather-sidebar {
  width: 250px;
  background-color: #f5f5f5;
  border-right: 1px solid #ddd;
  padding: 20px;
  height: 100vh; /* Full height */
}

.weather-sidebar h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #33b1a7;
}

.weather-sidebar ul {
  list-style: none;
  padding: 0;
}

.weather-sidebar li {
  padding: 10px 15px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.weather-sidebar li:hover {
  background-color: #33b1a7;
  color: #ffffff;
  transform: scale(1.05);
}

.weather-sidebar-active {
  background-color: #11998e;
  color: black;
  transform: scale(1.1);
  border: #11998e solid 2px;
}

/* Main Content */
.weather-main-content {
  flex: 1;
  padding: 20px;
}

/* Input and Select Styling */
.weather-input,
.weather-select {
  margin: 20px;
  border: 1px solid #33b2a8;
  padding: 7px;
  border-radius: 10px;
  outline: none;
  transition: border-color 0.3s ease;
}

.weather-input:focus,
.weather-select:focus {
  border-color: #11998e;
}

/* Chart Container */
.weather-chart-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

/* Chart Styling */
.weather-chart {
  border: 1px solid #33b1a7;
  border-radius: 20px;
  width: 700px !important;
  height: 400px !important;
}
.weather-container{
  margin-top: 70px ;
}
.weather-inputs{
  display: flex;
  justify-content: center;
}